@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

:root {
    --primaryColor: #161D29;
    --secondaryColor: #FFFFFF;
}

* {
    font-family: 'Alexandria', sans-serif;
    scroll-behavior: smooth;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 1rem;
    line-height: 2rem;
    color: #FFFFFF;
    background-color: var(--primaryColor);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border: 0.5em solid var(--primaryColor);
    box-shadow: inset 0 0 1px 1px var(--secondaryColor);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--secondaryColor), var(--secondaryColor));
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, var(--primaryColor), var(--secondaryColor), var(--primaryColor));
}

h1 {
    line-height: 3.5rem;
}

table {
    margin: auto;
}

hr {
    background-color: #FFFFFF;
    border-radius: 1rem;
    border: 1.5px solid #FFFFFF;
    margin: 2rem auto;
}

td {
    padding: 0.5rem;
    border: 2.5px solid #FFFFFF;
}

button {
    background-color: var(--secondaryColor);
    border: 0.1rem solid var(--secondaryColor);
    color: var(--primaryColor);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}